---

import type { Proyecto } from '../lib/interface/proyecto'; 
interface Props {
    listaName: string; 
    proyectosList: Proyecto[]; 
}

const { listaName, proyectosList } = Astro.props;
---

<section>
    <h2>{ listaName }</h2>
    
    <ul class="lista-proyectos">
        {proyectosList.map((proyecto) => (
            <li class="proyecto-item">
                <strong>ID:</strong> {proyecto.id} <br>
                <strong>Nombre:</strong> {proyecto.nombre} <br>
                </li>
        ))}
    </ul>
</section>

<style>
    .lista-proyectos {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }
    .proyecto-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-size: 0.9rem;
    }
    .proyecto-item strong {
        color: #3f51b5; /* Un color de énfasis */
    }
</style>